$button-height: 2.5rem;
$button-padding: 0 1rem;
$button-shadow-length: .25rem;
$button-opacity: $theme-opacity;
$button-box-shadow: 0 -#{$button-shadow-length} 0 rgba($color-dark, $button-opacity) inset;
$button-box-shadow-hover: 0 50px 0 rgba($color-dark, $button-opacity) inset;
$button-box-shadow-active: 0 $button-shadow-length 0 rgba($color-dark, $button-opacity) inset, $button-box-shadow-hover;
$button-text-shadow: 0 1px 0 rgba($color-dark, $button-opacity * 2);
// $button-width-min: 50px;

.button {
  @include transition;
  cursor: pointer;
  font-family: $font-family-buttons;
  font-size: $font-size-buttons;
  line-height: #{$button-height - $button-shadow-length};
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  padding: 0 1rem;
  // border: 1px solid rgba(0,0,0, $button-opacity);
  border-radius: $border-radius;
  user-select: none;
  outline: none;
  // touch-action: manipulation;
  text-transform: capitalize;
  // height: $button-height;
  background-color: $color-button-primary;
  color: $color-light;
  box-shadow: $button-box-shadow;
  text-shadow: $button-text-shadow;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //mobile tap color removal

  &:hover {
    text-decoration: none;
    color: $color-light;
    // box-shadow: $button-box-shadow-hover, $button-box-shadow;
  }

  &:active {
    // box-shadow: $button-box-shadow-active;
    text-shadow: none;
  }
  //mods
  &--green,
  &--save {
    background-color: $color-button-save;
    color: $color-light;
  }

  &--blue {
    background-color: $color-blue;
    color: $color-light;
  }

  &--red {
    background-color: $color-red;
    color: $color-light;
  }

  &--yellow {
    background-color: $color-yellow;
    color: $color-dark;
  }

  &--orange {
    background-color: $color-orange;
    color: $color-light;
  }

  &--purple {
    background-color: $color-purple;
    color: $color-light;
  }

  &--complement {
    background-color: $color-base-complement;
    color: $color-light;
  }

  &--cancel {
    background-color: $color-button-cancel;
    color: $color-dark;
  }

  ///////// flat
  &--flat {
    border: 0;
    border-radius: 0;
    line-height: $button-height;
    text-shadow: none;
    box-shadow: $theme-drop-shadow;

    span {
      @include transition();
      transform: scaleY(0);
      max-width: 0;
      display: none;

      @include breakpoint-up(tablet){
        display: inline-block;
      }
    }

    &:hover {
      box-shadow: $theme-drop-shadow;

      span {
        transform: scaleX(1);
        max-width: 90px;
        // display: inline-block;
      }
    }

    &:active {
      //  background-color: $color-base-dark ;
       box-shadow: none;
       outline: none;
       user-select: none;
      // transform: translateY(3px);
      transform: scale(0.95);
    }


  }

  &--trash {
    @extend .button--flat;
    background-color: $color-base-complement;
  }

  //////////////////

  &--disabled {
    opacity: 1;
    // padding: $button-padding;
    color: $color-darkgrey;
    background-color: $color-button-cancel;
    cursor: not-allowed;
    box-shadow: none;
    text-shadow: 0 -1px 0 rgba(255,255,255, 0.5);

    &:active,
    &:hover {
      color: $color-darkgrey;
      box-shadow: none;
      background-color: $color-button-cancel;
    }
  }
}
