$cards-image-height: 100px;
$cards-height: $cards-image-height + 100px;
$cards-button-color: #ff6600;
$cards-per-row: 3;
$cards-border-radius: 10px;
$cards-icon-size: 80px;

.cards {
  display: block;

  thead {
    display: none;
    // margin-bottom: $margin-double;
  }

  tbody {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    // width: 100%;
    user-select: none;

    tr {
      @include transition;
      display: block;
      position: relative;
      // margin: 0 $padding-default $padding-double;
      margin-bottom: $margin-tripple;
      width: calc((100% / 1) - #{$margin-double});
      min-height: $cards-height;
      border-radius: $cards-border-radius;
      box-shadow: 0 0 3px rgba(#000, 0.1);
      border: 1px solid rgba($color-grey, 0.2);
      cursor: pointer;

      @include breakpoint-up(tablet) {
          width: calc((100% / 3) - #{$margin-double});
      }

      @include breakpoint-up(desktop) {
          width: calc((100% / #{$cards-per-row}) - #{$margin-double});
          margin-bottom: $margin-tripple;
      }


      &:hover {
        box-shadow: 0 0 10px rgba(#000, 0.3);
        border: 1px solid rgba($cards-button-color, 0.5);

        td:first-child:after {
          // box-shadow: none;
        }

      }

      // box-shadow: 0 0 1px #ccc;

      //image container
      td:first-child {
        display: block;
        height: $cards-image-height;
        overflow: hidden;
        // margin-bottom: 20px;
        // padding-top: 100%;

        img {
          border-radius: $cards-border-radius;
          max-width: 100%;
          height: auto;
          // display: inline-block;
        }

        //card icon
        &:after {
          content: '{{CATEGORY}}';
          position: absolute;
          // top: 82px;
          top: $padding-default;
          right: $padding-default;
          display: inline-block;
          // width: $cards-icon-size;
          // height: $cards-icon-size;
          background-color: rgba($cards-button-color, 1);
          border-radius: $cards-border-radius;
          // line-height: $cards-icon-size;
          text-align: center;
          color: #fff;
          font-weight: 600;
          padding: $padding-half $padding-default;

          // box-shadow: 0 0 10px rgba(#000, 0.5);
          // filter: drop-shadow(0 0 3px rgba(#000, 0.5));
        }
      }

      //location
      td:nth-child(2) {
        padding: $padding-default;
        // position: absolute;
        // top: $margin-default;
        // left: $margin-default;

        // font-weight: 300;
        // font-size: 12px;
        // width: 100%;
        // text-shadow: 0 0 2px rgba(#000, 0.8);
        // text-overflow: ellipsis;
        a {
          color: $color-orange;
          font-weight: bold;
          // width: 93%;
          // display: inline-block;
        }
      }

      td:nth-child(3) {
        padding: 10px;

        &:before {
          display: inline;
          content: 'locatie: ';
        }
      }
    }
    td {
      display: block;
      padding: 0;
    }
  }
}
