$carousel-height-mobile: 0;
$carousel-height-tablet: 347px;

.carousel {
  height: $carousel-height-mobile;
  padding: 0;
  z-index: 0;
  position: relative;
  margin: 0 auto 0 auto;
  overflow: hidden;
  // border-bottom: 1px solid $color-base;

  @include breakpoint-up(tablet) {

  }

  &__slide {
    max-height: 100%;
    overflow: hidden;
  }

  &__img {
    img {
      max-width: 100%;
      position: absolute;
      bottom: 0;
    }
  }

  &__nav {
    position: absolute;
    margin: 0;
    text-align: right;

    li {
      display: inline-block;

      a {
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        background-color: $color-light;
      }
    }
  }
}
