$dropdown-width: 200px;
$dropdown-font-size: 16px;
$dropdown-height: $button-height;
$dropdown-highlight-color: $color-primary;
$dropdown-border: 1px solid $dropdown-highlight-color;

.dropdown {
    @include transition();
    position: relative;
    display: inline-block;
    user-select: none;
    font-size: $dropdown-font-size;

    &.open {
        .dropdown__current {
            background-color: $dropdown-highlight-color;
            color: $color-light;
            box-shadow: none;

            &::placeholder {
                color: $color-light;
            }
        }

        .dropdown__list {
            display: block;
            opacity: 1;
        }

        &:after {
            transform: rotate(180deg);
            border-top-color: $color-light;
        }
    }

    &__current {
        color: inherit;
        font-family: $font-custom2;
        font-size: inherit;
        width: $dropdown-width;
        padding: 0 $padding-default;
        height: $dropdown-height;
        line-height: $dropdown-height;
        cursor: pointer;
        outline: none;
        background-color: $color-light;
        border-radius:  $border-radius;
        user-select: none;
        box-shadow: 0px 1px 1px rgba($color-dark, 0.3);
        border: $dropdown-border;
    }

    &__list {
        display: none;
        opacity: 0;
        margin: 0;
        position: absolute;
        top: $dropdown-height;
        list-style: none;
        border: $dropdown-border;
        border-radius: $border-radius;
        width: $dropdown-width;
        font-family: $font-custom2;
        background-color: $color-light;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    &__item {
        @include transition();
        height: $dropdown-height;
        line-height: $dropdown-height;
        border-top: 1px solid rgba($dropdown-highlight-color, 0.3);
        padding: 0 $padding-default;
        cursor: pointer;

        &:hover {
            background-color: rgba($dropdown-highlight-color, 0.3);
        }

        &:first-child {
            border-top: none;
        }
    }

    //render the dropdown icon
    &:after {
        @include transition();
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: $dropdown-highlight-color transparent;
    }
}
