//colors specific to this component
$flow-color-default: #8f9fb7; //resting color
$flow-color-completed: #6a7d9d; // completed item
$flow-color-active: $flow-color-completed; //current selected item
$flow-color-incomplete: #9C9C9C;
$flow-color-hover: $color-primary;
$flow-color-background: #bcc5d4;
$flow-item-width: 150px;
$flow-item-height: 65px;
$flow-font-size: 24px;
$flow-triangle-height: $flow-item-height / 2;
$flow-padding-horizontal: $padding-containers * 2;
$flow-item-padding: 0 #{$flow-padding-horizontal} 0 50px;

.flow {
    background-color: $flow-color-background;
    margin: 0 -#{$padding-containers} #{$flow-padding-horizontal} -#{$padding-containers};
    // text-align: left;

    &__item {
        @include transition();
        display: inline-block;
        position: relative;
        background-color: $flow-color-default;
        color: $color-light;
        user-select: none;
        padding: $flow-item-padding;
        height: $flow-item-height;
        // width: $flow-item-width;
        line-height: $flow-item-height + 3;
        text-decoration: none;
        text-transform: uppercase;;
        text-align: center;
        font-family: $font-family-flow;
        font-size: $flow-font-size;
        cursor: pointer;
        text-shadow: 0 1px 0px rgba($color-dark,0.3);
        margin-right: 5px;

        // @include breakpoint-down('tablet') {
        //     font-size: $flow-font-size * 0.8;
        //     height: $flow-item-height * 0.8;
        // }

        &:before {
            position: absolute;
            left: 0;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: $flow-triangle-height 0 $flow-triangle-height $flow-triangle-height;
            border-color: transparent transparent transparent $flow-color-background;
        }

        &:after {
            @include transition();
            content: '';
            display: block;
            position: absolute;
            right: - $flow-triangle-height;
            top: 0;
            border-style: solid;
            border-width: $flow-triangle-height 0 $flow-triangle-height $flow-triangle-height;
            border-color: transparent;
            border-left-color: $flow-color-default;
        }

        //active / current tab
        &.active {
            background-color: $flow-color-active;
            // text-decoration: underline;
            &:after {
                border-left-color: $flow-color-active;
            }
        }

        //completed flow item
        &.completed {
            background-color: $flow-color-completed;
            // margin-left: -5px;

            &:after {
                border-left-color: $flow-color-completed;
            }

            &:hover {
                background-color: $flow-color-completed;

                &:after {
                    border-left-color: $flow-color-completed;
                }
            }

            &+.flow__item {
                margin-left: -10px;
            }
        }

        //inactive flow item
        &.incomplete {
            background-color: $flow-color-incomplete;
            color: $color-light;
            cursor: not-allowed;
            text-decoration: none;

            &:after {
                border-left-color: $flow-color-incomplete;
            }
        }

        //z-index settings
        &:first-child {
            z-index: 6;
            padding-left: $flow-padding-horizontal;
            margin-left: 0; //html offset hack

            &:before {
                content: none;
            }
        }
        &:nth-child(2) {z-index: 5;}
        &:nth-child(3) {z-index: 4;}
        &:nth-child(4) {z-index: 3;}
        &:nth-child(5) {z-index: 2;}
        &:nth-child(6) {z-index: 1;}

        &:hover {
            outline: 0 none;
            color: $color-light;
            // text-decoration: none;
            background-color: $flow-color-hover;

            &:after {
                border-left-color: $flow-color-hover;
            }
        },

        &:focus {
            outline: 0 none;
            color: $color-light;
        }
    }

}
