$form-input-height: $button-height;
$form-font-family: $fonts-generic;
$form-font-size: $font-size-default;
$form-checkbox-size: 20px;
$form-checkbox-boxshadow: 1px 1px 1px rgba(0, 0, 0, 0.5) inset;

.form {
  &__label {
    @include transition;
    cursor: pointer;
    display: block;
    // height: $form-input-height;
    line-height: $form-input-height;
    vertical-align: middle;
    margin-bottom: $margin-default;
    user-select: none;
    font-family: $form-font-family;
    font-size: $form-font-size;
    font-weight: bold;
    color: $color-border;

    &:hover {
      color: $color-border;
    }

    input[type='text'] {
      display: block;
      // position: absolute;
      // right: calc(0 + 20px);
      width: 100%;

    }

    &--check,
    &--radio {
      display: inline-block;
      margin-bottom: 0;
      margin-left: $margin-default;
      height: auto;
      line-height: inherit;

      input[type='checkbox'],
      input[type='radio'] {
        margin-right: $margin-default;
      }
    }
  }

  &__input {
    @include transition( $duration: .15s );
    font-size: 16px;
    width: 100%;
    // border: 0;
    outline: 0;
    height: $form-input-height;
    font-family: $form-font-family;
    border: 1px solid $color-base-dark2;
    padding: 0 .5rem;
    margin: .5rem 0;
    background-color: rgba(#fff, 0.5);
    color: $color-base;
    // box-shadow: $theme-drop-shadow inset;
    // box-shadow: 2px 2px
    // border-radius: $border-radius;


    &:hover {
      cursor: pointer;
      border: 1px solid $color-base-dark;
      // box-shadow: 1px 1px 0 #000 inset;
    }

    &:focus {
      cursor: text;
      border: 1px solid $color-border;
      box-shadow: none;
    }

    &--search {
      max-width: 100%;
      background-color: $color-light;
    }
  }

  &__type {
    margin-bottom: $margin-default;
  }

  fieldset {
    font-family: $form-font-family;
    font-size: $form-font-size;

    legend {}
  }

  select {
    // appearance: none;
    min-width: 100px;
    background-color: #fff;
    height: $button-height;
    padding: 0 $padding-default;

    &::-ms-expand {
      display: none;
    }
  }
  //hide checkbox & radio buttons
  input[type='checkbox'] {
    display: none;

    & + span {
      position: relative;
      display: inline-block;

      &:before {
        content: '';
        display: inline-block;
        position: relative;
        top: 0;
        width: $form-checkbox-size;
        height: $form-checkbox-size;
        // background-color: $color-light;
        margin-right: $margin-default;
        border-radius: $border-radius;
        box-shadow: $form-checkbox-boxshadow;
        // border: 1px solid $color-darkgrey;
      }
    }

    &:checked + span {
      &:after {
        content: '';
      }
    }
  }
  //input radio
  input[type='radio'] {
    display: none;

    & + span {
      position: relative;
      display: inline-block;
      padding-left: $padding-default + $form-checkbox-size;

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 2px;
        left: 0;
        width: $form-checkbox-size;
        height: $form-checkbox-size;
        // background-color: #fff;
        margin-right: $margin-default;
        border-radius: 50%;
        // box-shadow: $form-checkbox-boxshadow;
        border: 1px solid $color-darkgrey;
      }
    }

    &:checked + span {
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: $form-checkbox-size * 0.6;
        height: $form-checkbox-size * 0.6;
        left: 5px;
        top: 7px;
        border-radius: 50%;
        background-color: $color-primary;
      }
    }
  }

  &__textarea {
    @include transition( $duration: .15s );
    font-size: $form-font-size;
    outline: none;
    padding: .5rem;
    margin: .5rem 0;
    border: 1px solid $color-base-dark2;
    display: block;
    width: 100%;
    height: 150px;
    color: $color-base;

    &:focus {
      border-color: $color-base;
    }
  }

  .button {
    margin: .5rem 0;
  }
}
//tab activation

.js--tab {
  padding-left: $padding-default + $form-checkbox-size;
  position: relative;
  line-height: $form-checkbox-size + $padding-default;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
    width: $form-checkbox-size;
    height: $form-checkbox-size;
    margin-right: $margin-default;
    border-radius: 50%;
    border: 1px solid $color-darkgrey;
  }

  &.active {
    // color: $color-darkblue;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: $form-checkbox-size * 0.6;
      height: $form-checkbox-size * 0.6;
      left: 4px;
      top: 6px;
      border-radius: 50%;
      background-color: $color-primary;
    }
  }
}
