.gallery {
  padding: .5rem 0;

  &__title {}

  &__list {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @include breakpoint-up(tablet) {
        margin: .5rem -.5rem;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 1rem;
    @include breakpoint-up(tablet) {
      width: calc(50% - 1rem);
      margin: 0.5rem;
    }
    @include breakpoint-up(desktop) {
      width: calc(33.3333% - 1rem);

      .gallery__img {
        // transform: scale(0);
      }
    }

    &:hover {
      cursor: pointer;

      .gallery__img {
        @include breakpoint-up(desktop) {
          transform: scale(1.10);
        }
      }

      .gallery__love,
      .gallery__meta {
        // color: $color-base;
        transform: translate3d(0, 0, 0);
        // transform: rotateX(45);
        opacity: 1;
      }
    }
  }

  &__love {
    @include transition;
    position: absolute;
    width: 64px;
    height: 64px;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    color: $color-base-complement;
    @include breakpoint-up(desktop) {
      opacity: 0;
      transform: translate3d(-50%, -50%, 0);
    }

    i {
      position: absolute;
      z-index: 1;
      top: 1rem;
      left: 1rem;
      pointer-events: none;
      text-shadow: 0 0 5px rgba($color-dark, .5);
    }

    &.loved {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &__meta {
    @include transition;
    position: absolute;
    color: $color-light;
    text-shadow: 0 1px rgba(#000, .5);
    bottom: 0;
    padding: 0.5rem;
    width: 100%;
    background-color: rgba($color-dark, 0.5);
    @include breakpoint-up(desktop) {
      perspective: 500;
      transform: translate3d(0, 100%, 0);
      opacity: 0;
    }
    // &:before {
    //   content: '';
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   left: 0;
    //   bottom: 0;
    //   // background-color: #f00;
    //   filter: url(#f1);
    //   position: absolute;
    //   z-index: 0;
    // }
  }

  &__img {
    @include transition;
    display: block;
    user-select: none;
    //// transitions
  }

  &__desc {
    z-index: 1;
    position: relative;
  }

  &__name {
    // font-weight: bold;
  }

  &__user {
    // border-radius: 1rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;

    img {
      display: block;
      border-radius: 5rem;
      box-shadow: 0 0 5px rgba($color-dark, .7);
      border: 2px solid rgba($color-light, .8);
    }
  }

  &__now-open {
    @include transition;
    position: fixed;
    left: 0;
    z-index: 2;
    top: 0;
    user-select: none;
    @include breakpoint-down(tablet) {}
    @include breakpoint-up(desktop) {
      left: 0;
      cursor: pointer;
      left: auto;
      transform: translate3d(15vw, 0, 0);
    }

    .close {
      right: 0;
      top: 0;
      position: absolute;
    }

    img {
      @include transition;
      display: block;
      opacity: 0;
    }
  }
}

body:before {
  @include transition;
  content: '';
  // opacity: 0;
}

body.img-open {
  overflow: hidden;
  // padding-right: .8rem;
  &:before {
    content: '';
    display: block;
    position: fixed;
    z-index: 2;
    background-color: rgba($color-dark, .8);
    width: 100%;
    height: 100%;
    // filter: saturate(0);
    // opacity: 1;
  }

  .gallery__now-open {
    img {
      opacity: 1;
    }
  }
}
