.hr {
    border: 0;
    height: 0;

    //gradient in the middle
    &--1 {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba($color-dark, 0), rgba($color-dark, 0.5), rgba($color-dark, 0));
    }

    //dashed line
    &--2 {
        border: 0;
        border-bottom: 1px dashed  $color-grey;
        background: $color-darkgrey;
    }

    //drop shadow
    &--3 {
        height: 20px;
        border: 0;
        box-shadow: inset 0 20px 20px -20px rgba($color-dark, 0.5);
    }

    //cloud
    &--4 {
        border: 0;
        height: 0; /* Firefox... */
        box-shadow: 0 0 10px 1px $color-dark;

        &:after {
            content: "\00a0";  /* Prevent margin collapse */
        }
    }
}
