$nav-item-count: 5;
$nav-button-padding: 10px 16px;
$nav-button-padding-desktop: 10px 20px;
$nav-button-height: $button-height;
$nav-font-size: $font-size-nav;
// $nav-button-transition: @include transition($duration: .5s, $function: ease);

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;

  @include breakpoint-up(tablet) {
  }

  li {
    list-style-type: none;

    @include breakpoint-up(tablet) {
    }

    label {
      display: inline-block;
      width: 100%;
      cursor: pointer;
    }

    a {
      @include transition($duration: .3s, $function: linear);
      display: inline-block;
      height: $button-height;
      min-width: 3.5rem;
      line-height: $button-height - .25rem;
      background-color: $color-base;
      color: $color-light;
      font-size: .8rem;
      font-family: $font-family-nav;
      font-weight: $font-weight-nav;
      text-transform: uppercase;
      user-select: none;
      pointer-events: all;
      transform: scale(1);
      // border-bottom: 1px solid rgba($color-base-dark2, 1);
      box-shadow: $theme-drop-shadow;

      @include breakpoint-up(tablet) {
        transform: scale(1.15);
        min-width: 5rem;
        font-weight: $font-weight-nav;
      }

      span {
        display: inline-block;
        pointer-events: none;
      }

      &:hover {
        background-color: $color-base;
        color: $color-light;

        span {
        }
      }

      &:active {
        box-shadow: none;
        transform: scale(0.95);
      }

      &:focus, &:active {
        outline: 0;
      }
    }

    &.active a {
      color: #000;
      text-decoration: none;
      background-color: $color-light;
      text-shadow: none;
      box-shadow: none;

      transform: scale(1);

      @include breakpoint-up(tablet) {
        transform: translate3d(0, 1px, 0) scale(1);
      }

      span {
      }

      &:hover {
      }

      &:active {
      }
    }
  }

  i.fa {
    display: none;
  }

  &__wrap {
    position: absolute;
    width: 100%;
    bottom: -1px;
    z-index: 1;
  }
}
