$news-font-size: $font-size-default;
$news-span-hover-width: 100px;

.news {
  margin: 0 -.5rem;
  padding-top: 0.5rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @include breakpoint-up(tablet){
    padding: 0 0 .5rem;
  }

  &__item {
    @include transition();
    display: inline-block;
    position: relative;
    list-style-type: none;
    padding: .5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    // background-color: rgba($color-base, .1);
    width: 100%;
    // border-bottom: 2px solid rgba($color-base, 0.5);

    /// box shadow

    @include breakpoint-up(tablet) {
      max-width: calc(50% - 1rem);
      margin: .5rem;
    }

    @include breakpoint-up(desktop) {
      // max-width: calc((100% / 2) - 1rem);
      // padding-bottom: 3rem;
    }

    &:hover {
      @include breakpoint-up(tablet){
        // box-shadow: $theme-drop-shadow;
        // transform: scale(1.05);
        cursor: default;
      }

      img {
        // perspective: 500px;
        // transform: translate3d(0, -10%, 0);
        // transform: scale(1.05);
      }
    }

  }

  &__meta {
    position: relative;
    margin-top: .5rem;
    // top: 50px;
  }

  &__title {
    @include transition;
    display: block;
    font-size: $font-size-h4;
    // color: $color-base-complement;
    // margin-left: -.5rem;
    font-family: $font-family-headers;
    padding: .5rem 0;
    height: $button-height;
    outline: 0;
    border: 1px dotted rgba(0,0,0,0);
    // background-color: rgba(0,0,0,0);
    text-transform: capitalize;

    //ellipsis
    width: 95%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

    @include breakpoint-up(tablet) {
      height: $button-height;
        width: 95%;
      // font-size: $font-size-h5;
      // color: $color-base-dark2;
    }

    &:hover {
      width: 100%;
      border: 1px dotted $color-base-dark;
      background-color: rgba($color-light, 0.5);
      cursor: text;
    }

    &:focus {
      width: 100%;
      border: 1px solid $color-base;
      background-color: rgba($color-light, 1);
      cursor: text;

      box-shadow: $theme-drop-shadow;
    }

    //title wrapper
    &-wrap {
        &:before {
          @include transition;
          content: ' \f044';
          font-family: fontawesome;
          color: $color-base-dark2;
          position: absolute;
          right: 0;
          top: .75rem;
          opacity: .5;
          pointer-events: none;
        }

        &:hover {
          &:before {
            opacity: 0;
          }
        }
    }
  }

  &__bookmark {
    @include transition;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: absolute;
    top: 0;
    right: -.5rem;
    width: 80px;
    height: 92px;
    z-index: 1;
    opacity: 1;
    // transform: rotate(-90deg);

    @include breakpoint-up(desktop) {
        opacity: .5;
      transform: translate3d(0, -50%, 0);
    }

    &:hover {
      // background-color: red;
      transform: translate3d(0, 0, 0);
      opacity: 1;

      label {
        // opacity: 1;
      }
    }

    &-img {
      position: absolute;
    }

    label {
      @include transition;
      position: absolute;
      display: block;
      z-index: 2;
      left: 22px;
      top: 22px;
      opacity: 0.9;
    }

    i {
      color: $color-light;
      cursor: pointer;
      // z-index: 2;
    }

    &-share {
      right: 60px;
    }
  }

  &__image {
    width: 100%;
    padding-top: 100%;
    // overflow: hidden;
    // margin: 1rem 0 0;
    box-shadow: $theme-inset-shadow;
    position: relative;
    background-color: rgba(0,0,0,0);

    background-size: contain;
    background-repeat: no-repeat;

    @include breakpoint-up(tablet) {

    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__body {
    position: relative;
    overflow: hidden;

    @include breakpoint-up(tablet) {

    }
  }

  &__blur {
    background-position: bottom left;
    background-size: cover;
    height: 45%;
    width: 100%;
    filter: saturate(.5) blur(.5rem);
    position: absolute;
    bottom: 0;

    @include breakpoint-up(tablet){
      height: 30%;
    }
  }

  &__text {
    position: absolute;
    z-index: 1;
    color: $color-light;
    text-shadow: 0 1px 1px #333;
    padding: .5rem;
    bottom: 0;
    font-size: 1rem;
    line-height: 1.5rem;

    // max-height: 40%;
    // background-color: rgba($color-dark, .3);

    @include breakpoint-up(tablet){
      padding: 1rem;
      // max-height: 25%;
      // font-size: 1.2rem;
      line-height: 2rem;
    }

    // background-color: rgba($color-light, 0.2);
    // text-indent: -9990px;
  }

  &__author {

  }

  &__date {
    font-size: 1em;

    &:after {
      // content: ' \f0c1';
      // font-family: fontawesome;
      // color: $color-darkgrey;
    }

    &:hover {
      cursor: pointer;

      &:after {
      }
    }
  }

  &__read-more {
    @include transition;
    // @extend .button;
    // @extend .button--flat;
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
    padding: .5rem;

    &:hover {
      background-color: $color-base-dark;
    }
  }

  &__filter-bar {
    @include transition;
    right: 0;
    position: absolute;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    width: 3rem;
    // transform: translate3d(93%, 0, 0);
    box-shadow: $theme-drop-shadow;

    @include breakpoint-up(desktop){
      right: -2px;
    }

    &.open {
      width: 100%;

      @include breakpoint-up(tablet){
        width: 50%;
      }

      a span {
        display: none;
      }

      .form__input {
        border: 1px solid $color-base;
        display: inline-block;
      }
    }

    .form__input {
      border: 1px solid transparent;
      margin: 0;
      position: absolute;
      width: calc(100% - 3rem);
      display: none;
    }
    .button--search {
      z-index: 1;
      position: relative;
    }

  } //end filter-bar

  &__extra {
    display: none;

    @include breakpoint-up(tablet){
      display: inline;
    }
  }

  &__buttons-row {
    @include breakpoint-up(tablet){
      width: calc(100% - 1rem);
      position: absolute;
      bottom: .5rem;
//       padding-top: 10rem;
    }
  }

  .starred .news__bookmark:not(.news__bookmark-share) {
    transform: translate3d(0,0,0) ;
    opacity: 1;
  }

  &__stamp {
    font-size: .9rem;
    color: $color-darkgrey;
    margin-bottom: .5rem;

    i {
      opacity: .5;
    }
  }
}

////

.saving {
  user-select: none;

  &:before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    background-color: rgba(#fff, 0.5);
  }

  &:after {
    content: '\f013';
    font-family: fontawesome;
    // font-size: 32px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 3;
    animation: rotate 1s linear infinite;
  }


}
