.notify {
    display: block;
    position: relative;
    background-color: rgba($color-blue, 0.5);
    padding: $padding-default;
    padding-left: 45px;
    color: $color-light;
    font-weight: $font-weight-bold;
    // text-shadow: 0 1px 0px rgba($color-dark, 0.3);
    // margin-bottom: 10px;

    &:before {
        content: "\f0f3";
        display: inline-block;
        position: absolute;
        font-family: fontAwesome;
        font-size: 24px;
        left: $padding-default;
        top: 5px;
    }


    &--alert, &--warning,  {
        background-color: rgba($color-orange, 1);
        color: $color-light;

        &:before{
            content: "\f071";
        }
    }

    &--info {
        background-color: rgba($color-blue, 0.5);
        color: $color-light;

        &:before{
            content: "\f05a";
        }
    }
    &--error, &--fail {
        background-color: rgba($color-red, 0.8);
        color: $color-light;

        &:before{
            content: "\f057";
        }
    }
    &--success, &--ok {
        background-color: rgba($color-green, 0.8);
        color: $color-light;

        &:before{
            content: "\f058";
        }
    }
}
