.pagination {
  margin: 0.5rem 0 0;
  padding-bottom: .5rem;
  user-select: none;

  li {
    display: inline-block;
    margin-right: .5rem;
    margin-bottom: .5rem;

    &.active a {
      cursor: default;
      background-color: $color-grey;
      color: $color-darkgrey;
      box-shadow: none;
    }
  }
}
