$popup-width-mobile: $container-width-mobile;
$popup-width-tablet: $container-width-desktop;
$popup-width-desktop-l: $container-width-desktop-l;
$popup-width-desktop-xl: $page-width-max;
$popup-close-icon-width: 32px;
$popup-close-icon-offset: $padding-default;
$popup-min-height: 500px;
$popup-width-small: 600px;
$popup-padding: $padding-double;

.popup {

    &__overlay {
        display: none;
        position: fixed;
        overflow: auto;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        bottom: 0;
        background-color: rgba($color-dark, 0.7);
        -webkit-overflow-scrolling: touch; //safari
    }

    &__wrap {
        @include transition($duration: 0.5s);
        display: block;
        position: relative;
        background-color: $color-light;
        padding: $popup-padding;
        overflow-x: hidden;
        margin: $padding-double auto 0 auto;
        min-height: $popup-min-height;
        max-width: $popup-width-mobile;

        @include breakpoint-up(tablet) {
            max-width: $popup-width-tablet;
        }

        @include breakpoint-up(desktop) {
            max-width: $popup-width-desktop-xl;
        }

        &.small {
            max-width: $popup-width-small;
        }
    }

    &__content {
        min-width: 50%;

        h1, h2, h3, h4, h5, h6, h7 {
            text-transform: none;
        }
    }

    &__close {
        // display: block;
        color: $color-dark;
        position: absolute;
        right: $popup-close-icon-offset;
        top: $popup-close-icon-offset;
        color: $color-primary;
        cursor: pointer;
        z-index: 1;

        .fa {
            width: 100%;
            height: 100%;
            font-size: $popup-close-icon-width;
        }

        &:hover {
            // color: $color-darkblue;
        }
    }

    &__spinner {
        position: absolute;
        top: 50%;
        left: calc(50% - 50px);
    }

    &__templates {
        display: none;
    }
}

body.modal-open {
    overflow: hidden;

    .container {
        user-select: none;
    }

    .popup__overlay {
        display: block;
    }

    .popup__wrap {

    }

    .popup__content {

    }

    .popup__close {

    }
}
