$showcase-min-height: 200px;

.showcase {
  margin: 0 -#{$margin-double} #{$margin-default};
  height: $showcase-min-height;
  overflow: hidden;
  // background-image: url(../img/carlos.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  img {
    display: inline-block;
    position: absolute;
    z-index: 0;
    width: 100%;
  }
  canvas {
    position: absolute;
    z-index: 0;
    height: auto !important;
  }
}
