.tabber {
    // margin-top: $margin-default;

    &__tab {

    }

    &__content {
        display: none;
        position: relative;

        & > img {
          margin: .5rem 0;
        }
    }

    input[type='radio'] {
        display: none;
    }

    input[type='radio']:checked + &__content {
        display: block;
    }

    .orange {
      background-color: $color-orange;
    }
}
