.todo {
  width: 100%;
  margin: 0 auto;
  // padding: 2rem;
  // padding-bottom: .5rem;

  @include breakpoint-up(tablet){
      width: 80%;
  }

  &__newItem {
    margin: .5rem 0;

    .form__input {
      background-color: $color-light;

      &::placeholder {
        color: rgba($color-dark, 0.2);
      }
    }
  }

  &__item {
    padding: .5rem;
    margin: 1rem 0;
    position: relative;

    // background-color: rgba($color-dark, 0.05);
    // border-bottom: 2px solid rgba($color-base, .5);
  }

  &__label {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    user-select: none;
    top: 1rem;

    i {
      // opacity: 0.3;
      // color: $color-base;
    }
  }

  &__name {
    padding-left: 1.5rem;

    input {
      margin: 0;
      border: 1px solid transparent;
      background-color: transparent;
      font-size: 1.5rem;
      font-weight: 300;
    }
  }

  &__date {
    font-size: .8rem;
    color: $color-darkgrey;
  }

  .todo__item.done {
    opacity: .5;

    .form__input {
      // color: #ccc;
      text-decoration: line-through;
    }
  }

  // vue transition animations
  .anim {
    position: absolute;

    &-enter-active,
    &-leave-active {
      transition: opacity .3s;
      // border: 1px solid red !important;
    }

    &-enter-active {
      // transition-delay: 1s;
    }

    &-enter,
    &-leave-to {
      opacity: 0;
    }
  }
}
