$user-access-padding: $padding-double;

.user-access {
    background-color: $color-primary;
    color: $color-light;
    padding: $user-access-padding;
    margin-top: $margin-double;
    position: relative;

    h1, h2, h3, h4, h5 {
        color: inherit;
    }

    input[type='checkbox'],
    input[type='radio'] {
      display: none;
      outline: none;
      border: 0;

      &:checked + span:after {
          color: red;
          content: "\f00c";
          font-family: FontAwesome;
          color: #546480;
          position: absolute;
          left: 3px;
          top: -2px;
          display: inline-block;
          width: 20px;
          height: 20px;
      }
    }

    //items
    &__countries {

    }

    &__entities {

    }

    &__services {

    }

    &__user-type {

    }
}
