$world-map-icon-size: 75px;
$world-map-icon-font-size: 24px;
$world-map-icon-color: $color-primary;
$world-map-country-count: 8;
$world-map-country-padding: 10px;
// $world-map-country-width: calc((100% / #{$world-map-country-count}) - #{2*$world-map-country-padding});
$world-map-country-width: 200px;
$world-map-country-add-width: 300px;
$world-map-city-color: $color-primary;
$world-map-entity-border-radius: 2px;
$world-map-entity-font-size: 16px;
$world-map-icon-size-add: 17px;
$world-map-font: $font-family-headers;


.world-map {
    position: relative;

    &__title {
        color: $color-primary;
        text-align: center;
        margin-bottom: $margin-default;
    }

    &__buttons {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__add-new {

    }

    //list of countries
    &__list {
        background-color: $world-map-icon-color;

        //flex
        display: flex;
        flex-wrap: wrap;
        // flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    //country item
    &__country {
        // display: inline-block;
        width: $world-map-country-width;
        padding: $world-map-country-padding;

        //add country
        &--add {
            width: 100%;
            text-align: center;
            position: relative;
            z-index: 10;

            .world-map__icon-wrap {
                display: inline-block;
                cursor: pointer;
                opacity: 0.8;
                position: relative;
                z-index: 2;

                &:hover {
                    opacity: 1;
                }
            }

            .fa {
                display: block;
                padding-right: 0;
                opacity: 0.8;
            }
        }
    }

    &__icon-wrap {
        text-align: center;
    }

    &__icon {
        display: inline-block;
        height: $world-map-icon-size;
        width: $world-map-icon-size;
        line-height: $world-map-icon-size + 3px;
        background-color: $world-map-icon-color;
        color: $color-light;
        border-radius: 50%;
        user-select: none;
        cursor: default;
        text-transform: uppercase;

        font-family: $world-map-font;
        font-size: $world-map-icon-font-size;

        // box-shadow: 2px 2px 2px rgba($color-dark, 0.2) inset;
        // text-shadow: 2px 2px 0px rgba($color-dark, 0.2);

        &--add {
            line-height: $world-map-icon-size-add;
            font-size: $world-map-icon-size-add;
            pointer-events: none;
            span {
                padding-top: 8px;
                display: inline-block;
            }
        }
    }

    //list of entities for a country.
    &__entities {
        // margin-top: $margin-default;
        ul {
            margin: 0;
            list-style-type: none;
        }
    }

    //entity item
    &__entity {
        // @include ellipsis();
        display: block;
        list-style-type: none;
        position: relative;
        background-color: $color-light;
        border-radius: $world-map-entity-border-radius;
        height: 4 * $padding-default;
        line-height: 4 * $padding-default;
        color: $world-map-city-color;
        font-weight: $font-weight-bold;
        margin-top: $margin-default;
        font-family: $font-generic;
        font-size: $world-map-entity-font-size;
        padding: 0 15px;
        // box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
        text-transform: uppercase;

        &:hover {
            // background-color: $color-blue1;
            .fa {
            }
        }

        //font awesome adjustments
        .fa {
            position: absolute;
            right: $padding-default;
            top: $padding-default;
            padding-right: 0;
            cursor: pointer;
        }

        &--add {
            background-color: transparent;

            .fa {
                // opacity: 0.5;
            }

            &:hover {
                background-color: rgba($color-light, 0.8);

                input {
                    opacity: 0.8;
                }

                .fa {
                    // opacity: 1;
                }
            }

            span {
                display: none;
            }

            &.new  {
                background-color: $color-light;
            }
        }
    }

    &__country-container {
        @include transition();
        display: none;
        height: 0;
        margin: 0 auto;
        width: $world-map-country-add-width;
        position: absolute;
        left: calc(50% - #{$world-map-country-add-width/2});

        .country-container-wrap {
            margin: 0;
            border-radius: 10px;
            // box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
            background-color: $world-map-icon-color;
            margin-top: -#{$world-map-country-padding * 3};
            padding: $padding-default;
            padding-top: $world-map-country-padding * 4;

            .world-map__input {
                border: 1px solid $color-border;
                background-color: $color-light;
                color: $world-map-icon-color;
                box-shadow: 1px 1px 1px rgba($color-dark, 0.3) inset;
                text-align: center;
                max-width: 60%;
                font-family: $world-map-font;
                font-size: 16px;
            }
        }
        ul {
            margin: 15px -#{$padding-default};
            text-align: left;
            border-top: 1px solid rgba($world-map-city-color, 0.3);

            li {
                position: relative;
                list-style-type: none;
                display: block;
                height: 40px;
                padding: 0 $padding-double;
                line-height: 40px;
                font-family: $font-generic;
                font-size: 16px;
                color: $world-map-city-color;
                border-bottom: 1px solid rgba($world-map-city-color, 0.4);

                a {
                    color: inherit;
                }

                span {
                    position: absolute;
                    right: 35%;
                }

                //confirm button position
                .js--country-add-confirm {
                    position: absolute;
                    right: 10px;
                    top: 7px;
                }

                &:hover {
                    background-color: $color-light;
                }
            }
        }

        &.open {
            display: block;
            height: 200px;
            user-select: none;

            ul {
            }
        }
    }

    //services

    &__services {
        display: none;
        position: relative;
        z-index: 5;
        // background-color: rgba($color-dark, 0.8);
        background-color: $world-map-city-color;
        color: $color-dark2;
        margin: 0 -15px;
        padding: 15px;
        // box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);

        &.open {
            display: block;
        }

        &-text {
            margin: 0;
            text-transform: none;
        }

        &__select-all-label {

        }

        .button {
            min-width: 50px;
        }
    }

    &__services-list {
        // color: $color-dark;
        text-transform: none;
        line-height: 30px;
    }


    //inputs & checkboxes
    &__input {
        color: inherit;
        border: 0;
        width: 80%;
        height: 25px;
        line-height: 25px;
        border: 1px solid transparent;
        background-color: rgba($color-light, 0);
        border-radius: 3px;
        font-family: inherit;
        font-size: inherit;
        text-transform: uppercase;
        // outline: none;

        &:hover {
            border: 1px solid rgba($color-dark, 0.2);
            cursor: pointer;

            &::placeholder {
                opacity: 1;
            }
        }
        &:focus {
            outline: none;
            cursor: text;
            border: 1px solid $world-map-city-color;
        }

        &::placeholder {
            color: inherit;
            opacity: 0.5;
        }
    }

    label {
        cursor: pointer;
        user-select: none;

        span {
            position: relative;
            display: inline-block;
            // line-height: 24px;

            &:before {
                content: '';
                display: inline-block;
                position: relative;
                top: 2px;
                width: 20px;
                height: 20px;
                background-color: $color-light;
                margin-right: $margin-default;
                border-radius: 2px;
                box-shadow: 2px 2px 1px rgba($color-dark, 0.3) inset;
            }
            &:hover {
                color: $world-map-city-color;
            }
        }
    }
    input[type='checkbox'] {
        display: none;
        outline: none;
        border: 0;
    }
    input[type='checkbox']:checked + span:after {
        content: "\f00c";
        font-family: FontAwesome;
        color: $world-map-icon-color;
        position: absolute;
        left: 3px;
        top: -2px;
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    //disabled
    li.disabled {
        color: rgba($color-darkgrey, 0.3);
    }
}
