  <ul class="nav js--nav">
    <li>
      <a href="#home" data-title="Start">
        <label for="home-content" >
          <i class="fa fa-home" aria-hidden="true"></i>
          <span>Start</span>
        </label>
      </a>
    </li>
    <li>
      <a href="#about" data-title="About">
        <label for="about-content" >
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <span>About</span>
        </label>
      </a>
    </li>
    <li>
      <a href="#news" data-title="News">
        <label for="news-content" >
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          <span>News</span>
        </label>
      </a>
    </li>
    <li>
      <a href="#contact" data-title="Contact">
        <label for="contact-content" >
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span>Contact</span>
        </label>
      </a>
    </li>
    <li class="hide">
      <a href="#vacatures" data-title="vacatures">
        <label for="vacatures-content" >
          <i class="fa fa-book" aria-hidden="true"></i>
          <span>Vacatures</span>
        </label>
      </a>
    </li>
  </ul>
