<i class="notify">This is a standard notification box.</i>
<i class="notify notify--info">This is a notification. This is an info notification</i>
<i class="notify notify--alert">This is a notification. This is an alert notification</i>
<i class="notify notify--error">This is a notification. This is an error notification</i>
<i class="notify notify--ok">This is a notification. This is an ok notification</i>
