<!-- wizard body / main content -->
<div class="wizard" >
        <h3 class="wizard__header">Approval</h3>
        <p class="wizard__sub">This is a sub title</p>
        <div class="wizard__body">
            <div class="ContentBox"><p>Leverage agile frameworks to provide a robust synopsis for high level overviews. <a href="#">Iterative</a> approaches to corporate strategy
                foster collaborative thinking to further the overall value proposition. <a href="#">Organically</a> grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p><p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p><p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.  Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
            </div>
        </div>
        <!-- <img src="img/tim.jpg"><br><br> -->
        <form class="fancy-form">
            <select name="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
            </select>
            <label>Name<input name="name" type="text"></label>
            <labe>
            <textarea name="message" rows="10" cols="30">The cat was playing in the garden.</textarea>
            <label>Username: <input type="text" name="user"></label>
            <label>Encryption: <keygen name="security"></label>
            <input type="submit" class="button medium-3">
            <button class="button medium-3 button--green">Save button</button>
            <button class="button medium-3 button--cancel">cancel button</button>
            <button class="button medium-3 button--disabled">disabled button</button>
        </form>

        <form onInput="x.value=parseInt(a.value)+parseInt(b.value)">
            <label>0</label>
            <input type="range" id="a" name="a" value="50">
            <label>100 +<label>
            <input type="number" id="b" name="b" value="50">
            <label>=</label>
            <output name="x" for="a b"></output>
            <input type="submit" class="button button--save">
        </form>
    </div>
</div>
