<div class="world-map">
    <div class="world-map__buttons">
        <button class="button button--plain"><i class="fa fa-share"></i>Share</button>
        <button class="button button--green button--plain"><i class=""></i>Save</button>
    </div>
    <h2 class="world-map__title">Booking.com</h2>
    <div class="world-map__list" style="background-image: url(img/world-map.gif)">
        <div class="world-map__country world-map__country--add">
            <div class="world-map__icon-wrap js--country-add">
                <span class="world-map__icon world-map__icon--add">
                    <span>Add Country</span>
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="world-map__country-container js--country-container">
                <div class="country-container-wrap">
                    <input class="world-map__input js--country-add-input" type="text" value="" name="country-add-input" placeholder="search country...">
                    <ul class="country-add-list js--country-add-list">
                        <li><a>Netherlands</a><span>NLD</span><input type="button" class="button js--country-add-confirm" value="ADD"></li>
                        <li><a>United States</a><span>USA</span><input type="button" class="button js--country-add-confirm" value="ADD"></li>
                        <li><a>United Kingdom</a><span>GBR</span><input type="button" class="button js--country-add-confirm" value="ADD"></li>
                        <li><a>Nigeria</a><span>NGA</span><input type="button" class="button js--country-add-confirm" value="ADD"></li>
                        <li><a>Afghanistan</a><span>AFG</span><input type="button" class="button js--country-add-confirm" value="ADD"></li>
                        <li><a>Columbia</a><span>COL</span><input type="button" class="button js--country-add-confirm" value="ADD"></li>
                        <li><a>Japan</a><span>JPN</span><input type="button" class="button js--country-add-confirm" value="ADD"></li>
                        <li><a>China</a><span>CHN</span><input type="button" class="button js--country-add-confirm" value="ADD"></li>
                        <li><a>Russia</a><span>RUS</span><input type="button" class="button js--country-add-confirm" value="ADD"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="world-map__country">
            <div class="world-map__icon-wrap">
                <span class="world-map__icon">NLD</span>
            </div>
            <div class="world-map__entities">
                <ul>
                    <li class="world-map__entity">
                        <span>Amsterdam</span>
                        <i class="fa fa-pencil js--services-edit"></i>
                        <div class="world-map__services js--services-container">
                            <p class="world-map__services-text">select servicelines</p>
                            <!-- <input class="world-map__input js--services-edit-input" type="hidden" value="" name="services-edit-input" placeholder="edit services..."> -->
                            <label class="world-map__services__select-all-label"><input type="checkbox" class="js--services-select-all"><span>Select All</span></label>
                            <ul class="world-map__services-list">
                                <form class="js--services-form">
                                    <li><label><input name="Payroll" type="checkbox" class=""><span>Payroll</span></label></li>
                                    <li><label><input name="VAT" type="checkbox" class=""><span>VAT</span></label></li>
                                    <li><label><input name="CIT" type="checkbox" class=""><span>CIT</span></label></li>
                                    <li><label><input name="Reporting" type="checkbox" class=""><span>Reporting</span></label></li>
                                    <li><label><input name="HRM" type="checkbox" class=""><span>HRM</span></label></li>
                                </form>
                            </ul>
                            <div>
                                <button type="reset" class="button button--cancel js--services-cancel">Cancel</button>
                                <button type="submit" class="button button--save js--services-save">save</button>

                            </div>
                        </div>
                    </li>
                    <li class="world-map__entity">
                        <span>Rotterdam</span>
                        <i class=""></i>
                    </li>
                    <li class="world-map__entity">
                        <span>Utrecht</span>
                        <i class=""></i>
                    </li>
                </ul>
                <div class="world-map__entity world-map__entity--add">
                    <input class="world-map__input" value="" placeholder="add entity name..."><span>Add New</span>
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="world-map__country">
            <div class="world-map__icon-wrap">
                <span class="world-map__icon">BSC</span>
            </div>
            <div class="world-map__entities">
                <ul>
                    <li class="world-map__entity">
                        <span>Amsterdam</span>
                        <i class=""></i>
                    </li>
                    <li class="world-map__entity">
                        <span>Rotterdam</span>
                        <i class="fa fa-pencil js--services-edit"></i>
                        <div class="world-map__services js--services-container">
                            <p class="world-map__services-text">select servicelines</p>
                            <!-- <input class="world-map__input js--services-edit-input" type="hidden" value="" name="services-edit-input" placeholder="edit services..."> -->
                            <label class="world-map__services__select-all-label"><input type="checkbox" class="js--services-select-all"><span>Select All</span></label>
                            <ul class="world-map__services-list">
                                <form class="js--services-form">
                                    <li><label><input name="Payroll" type="checkbox" class=""><span>Payroll</span></label></li>
                                    <li><label><input name="VAT" type="checkbox" class=""><span>VAT</span></label></li>
                                    <li><label><input name="CIT" type="checkbox" class=""><span>CIT</span></label></li>
                                    <li><label><input name="Reporting" type="checkbox" class=""><span>Reporting</span></label></li>
                                    <li><label><input name="HRM" type="checkbox" class=""><span>HRM</span></label></li>
                                </form>
                            </ul>
                            <div class="">
                                <button class="button button--cancel js--services-cancel">Cancel</button>
                                <button class="button button--save js--services-save">save</button>
                            </div>
                        </div>
                    </li>
                    <li class="world-map__entity">
                        <span>Utrecht</span>
                        <i class=""></i>
                    </li>
                </ul>
                <div class="world-map__entity world-map__entity--add">
                    <input class="world-map__input" value="" placeholder="add entity name..."><span>Add New</span>
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="world-map__country">
            <div class="world-map__icon-wrap">
                <span class="world-map__icon">CBD</span>
            </div>
            <div class="world-map__entities">
                <ul>

                </ul>
                <div class="world-map__entity world-map__entity--add">
                    <input class="world-map__input js--services-add-input" value="" placeholder="add entity name...">
                    <i class="fa fa-plus js--services-add"></i>
                    <div class="world-map__services js--services-container">
                        <p class="world-map__services-text">select servicelines</p>
                        <!-- <input class="world-map__input js--services-edit-input" type="hidden" value="" name="services-edit-input" placeholder="edit services..."> -->
                        <label class="world-map__services__select-all-label"><input type="checkbox" class="js--services-select-all"><span>Select All</span></label>
                        <ul class="world-map__services-list">
                            <form class="js--services-form">
                                <input name="input" type="text">
                                <input name="yolo" type="radio">
                                <li><label><input name="Payroll" type="checkbox" class=""><span>Payroll</span></label></li>
                                <li><label><input name="VAT" type="checkbox" class=""><span>VAT</span></label></li>
                                <li><label><input name="CIT" type="checkbox" class=""><span>CIT</span></label></li>
                                <li><label><input name="Reporting" type="checkbox" class=""><span>Reporting</span></label></li>
                                <li><label><input name="HRM" type="checkbox" class=""><span>HRM</span></label></li>
                            </form>
                        </ul>
                        <div class="">
                            <button class="button button--cancel js--services-cancel">Cancel</button>
                            <button class="button button--save js--services-save">save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="world-map__country">
            <div class="world-map__icon-wrap">
                <span class="world-map__icon">KLM</span>
            </div>
            <div class="world-map__entities">
                <ul>
                    <li class="world-map__entity">
                        <span>Amsterdam</span>
                        <i class=""></i>
                    </li>
                    <li class="world-map__entity">
                        <span>Rotterdam</span>
                        <i class=""></i>
                    </li>
                    <li class="world-map__entity">
                        <span>Utrecht</span>
                        <i class=""></i>
                    </li>
                </ul>
                <div class="world-map__entity world-map__entity--add">
                    <input class="world-map__input" value="" placeholder="add entity name..."><span>Add New</span>
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="world-map__country">
            <div class="world-map__icon-wrap">
                <span class="world-map__icon">MCD</span>
            </div>
            <div class="world-map__entities">
                <ul>
                    <li class="world-map__entity">
                        <span>Amsterdam</span>
                        <i class=""></i>
                    </li>
                    <li class="world-map__entity">
                        <span>Rotterdam</span>
                        <i class=""></i>
                    </li>
                    <li class="world-map__entity">
                        <span>Utrecht</span>
                        <i class=""></i>
                    </li>
                </ul>
                <div class="world-map__entity world-map__entity--add">
                    <input class="world-map__input" value="" placeholder="add entity name..."><span>Add New</span>
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="world-map__country">
            <div class="world-map__icon-wrap">
                <span class="world-map__icon">DOC</span>
            </div>
            <div class="world-map__entities">
                <ul>
                    <li class="world-map__entity">
                        <span>Amsterdam</span>
                        <i class=""></i>
                    </li>
                    <li class="world-map__entity">
                        <span>Rotterdam</span>
                        <i class=""></i>
                    </li>
                    <li class="world-map__entity">
                        <span>Utrecht</span>
                        <i class=""></i>
                    </li>
                </ul>
                <div class="world-map__entity world-map__entity--add">
                    <input class="world-map__input" value="" placeholder="add entity name..."><span>Add New</span>
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="world-map__country">
            <div class="world-map__icon-wrap">
                <span class="world-map__icon">GLA</span>
            </div>
            <div class="world-map__entities">
                <ul>
                    <li class="world-map__entity">
                        <span>Amsterdam</span>
                        <i class=""></i>
                    </li>
                    <li class="world-map__entity">
                        <span>Rotterdam</span>
                        <i class=""></i>
                    </li>
                    <li class="world-map__entity">
                        <span>Utrecht</span>
                        <i class=""></i>
                    </li>
                </ul>
                <div class="world-map__entity world-map__entity--add">
                    <input class="world-map__input" value="" placeholder="add entity name..."><span>Add New</span>
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="world-map__country">
            <div class="world-map__icon-wrap">
                <span class="world-map__icon">USA</span>
            </div>
            <div class="world-map__entities">
                <ul>
                    <li class="world-map__entity">
                        <span>Amsterdam</span>
                        <i class=""></i>
                    </li>
                    <li class="world-map__entity">
                        <span>Rotterdam</span>
                        <i class=""></i>
                    </li>
                    <li class="world-map__entity">
                        <span>Utrecht</span>
                        <i class=""></i>
                    </li>
                </ul>
                <div class="world-map__entity world-map__entity--add">
                    <input class="world-map__input" value="" placeholder="add entity name..."><span>Add New</span>
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- world map scripts -->
<!-- <script>loadScripts('js/components/world-map.js');</script> -->
