/** default colors **/
$color-base: #0BA88E; //AKMODAN default = #0BA88E
// $color-base: #FF6200;
$color-primary: $color-base;
$color-base-dark: darken($color-base, 10%);
$color-base-dark2: darken($color-base, 20%);
$color-base-light: lighten($color-base, 10%);
$color-base-light2: lighten($color-base, 20%);
$color-base-complement: complement($color-base);
$color-base-alt: adjust-hue($color-base, -90deg);
$color-base-alt2: adjust-hue($color-base, 90deg);
$color-base-alt3: adjust-hue($color-base, 70deg);
$color-base-alt4: adjust-hue($color-base, 300deg);

//shades of grey
$color-light: #fff;
$color-dark: #000;
$color-dark2: #222;
$color-dark3: #333;
$color-grey: #CACACA;
$color-darkgrey: #666;

//standard colors
$color-green: #690;
$color-blue: #06f;
$color-red: #f33;
$color-orange: #f63;
$color-yellow: #fff000;
$color-purple: $color-base-alt3;

//container colors
$color-body: $color-darkgrey;
$color-containers: $color-light;
$color-container-main: lighten($color-containers, 10%);

//text colors
$color-text-headers: $color-dark2;
$color-text-body: $color-dark;

//links
$color-link: $color-base;
$color-link-hover: $color-base-dark;

//buttons
$color-button-primary: $color-primary;
$color-button-primary-hover: $color-base-dark;
$color-button-save: $color-green;
$color-button-save-hover: darken($color-green, 20%);
$color-button-cancel: $color-grey;
$color-button-cancel-hover: $color-darkgrey;

//borders
$color-border: $color-base;
