$fonts-directory: '../assets/';

//generic variable names
$webfont0: 'OpenSans-Light';
$webfont1: 'Roboto-Light';
$webfont2: 'Roboto-Bold';
$webfont3: 'RobotoSlab-Thin';
$webfont4: 'RobotoSlab-light';
// $webfont3: $fonts-dinwebcond-bold;

@font-face {
  font-family: '#{$webfont0}';
  src: url('#{$fonts-directory}#{$webfont0}.ttf'); /* IE9 Compat Modes */
  src: url('#{$fonts-directory}#{$webfont0}.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: '#{$webfont1}';
  src: url('#{$fonts-directory}#{$webfont1}.ttf'); /* IE9 Compat Modes */
  src: url('#{$fonts-directory}#{$webfont1}.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: '#{$webfont2}';
  src: url('#{$fonts-directory}#{$webfont2}.ttf'); /* IE9 Compat Modes */
  src: url('#{$fonts-directory}#{$webfont2}.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: '#{$webfont3}';
  src: url('#{$fonts-directory}#{$webfont3}.ttf'); /* IE9 Compat Modes */
  src: url('#{$fonts-directory}#{$webfont3}.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: '#{$webfont4}';
  src: url('#{$fonts-directory}#{$webfont4}.ttf'); /* IE9 Compat Modes */
  src: url('#{$fonts-directory}#{$webfont4}.ttf')  format('truetype'); /* Safari, Android, iOS */
}

// @mixin font($name: 'open sans', $size: $font-size-default ) {
//   @content;
// }

// @font-face {
//   font-family: '#{$webfont2}';
//   src: url('#{$fonts-directory}#{$webfont2}.eot'); /* IE9 Compat Modes */
//   src: url('#{$fonts-directory}#{$webfont2}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//         url('#{$fonts-directory}#{$webfont2}.woff2') format('woff2'), /* Super Modern Browsers */
//        url('#{$fonts-directory}#{$webfont2}.woff') format('woff'), /* Pretty Modern Browsers */
//        url('#{$fonts-directory}#{$webfont2}.ttf')  format('truetype'); /* Safari, Android, iOS */
//        // url(''#{$fonts-directory}#{$webfont2}.svg##{$webfont2}') format('svg'); /* Legacy iOS */
// }
//
// @font-face {
//   font-family: '#{$webfont3}';
//   src: url('#{$fonts-directory}#{$webfont3}.eot'); /* IE9 Compat Modes */
//   src: url('#{$fonts-directory}#{$webfont3}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$fonts-directory}#{$webfont3}.woff') format('woff'), /* Pretty Modern Browsers */
//        url('#{$fonts-directory}#{$webfont3}.ttf')  format('truetype'); /* Safari, Android, iOS */
// }
