@import 'custom-fonts';
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,900|Roboto+Slab:100,300');
$open-sans: $webfont0;
$roboto-light: $webfont1;
$roboto-slab-thin: $webfont3;
$roboto-slab-regular: $webfont4;
// $font-saira: Saira;
// $font-kanit: Kanit;

@include font-face(Samplino, fonts/Samplino);

$fonts-generic: helvetica, arial, sans-serif;
$fonts-default: $open-sans, $fonts-generic;
$fonts-custom1: $roboto-slab-thin, $fonts-generic;
$fonts-custom2: $roboto-slab-regular, $fonts-generic;


/** font families **/
$font-family-body: $fonts-default;
$font-family-headers: $fonts-custom1;
$font-family-nav: $fonts-custom2;
$font-family-buttons: $fonts-custom2;

//font weight
$font-weight-100: 100; $font-weight-thin: 100;
$font-weight-300: 300; $font-weight-normal: 300;
$font-weight-600: 600; $font-weight-thick: 600;
$font-weight-bold: 900; $font-weight-900: 900;

//font weight headers
$font-weight-body: $font-weight-normal;
$font-weight-headers: $font-weight-thin;
$font-weight-nav: $font-weight-thick;

//font sizes
$font-size-default: 16px;
$font-size-mobile: 1rem;
$font-size-tablet: 1rem;
$font-size-buttons: 1rem;
$font-size-nav: 1.0rem;

//font colors
$font-color-headers: $color-text-headers;
$font-color-body: $color-text-body;

//font shadows
$font-text-shadows: 0 1px 0px rgba($color-primary, 0.5);
$font-headers-shadows: 0 -1px 0px rgba($color-primary, 0.5);

//font size heaeders
$font-size-header-ratio: 1.2;
$font-size-h6: $font-size-header-ratio * $font-size-default;
$font-size-h5: $font-size-h6 * $font-size-header-ratio;
$font-size-h4: $font-size-h5 * $font-size-header-ratio;
$font-size-h3: $font-size-h4 * $font-size-header-ratio;
$font-size-h2: $font-size-h3 * $font-size-header-ratio;
$font-size-h1: $font-size-h2 * $font-size-header-ratio;
