// transitions
@mixin transition($target: all, $duration: .3s, $function: ease-in-out) {
  transition: $target $duration $function;
}

//bg loader
@mixin bg-loader($name) {
  background-image: url('../img/'#{$name});
  background-size: 100% auto;
  @content;
}

//animation mixin
@mixin animation($name: 'customAnimation', $duration : 5s, $function: linear) {
  animation: $name $duration $function infinite;
  @keyframes #{$name} {
    50% {
      @content;
    }
  }
}

@mixin headers() {
  h1, h2, h3, h4, h5, h6 {
    @content;

    &.nocaps {text-transform: none;}
  }
}

@mixin ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
}

@mixin flip-horizontal() {
  transform: rotateX(180deg);
}

//float & visibility classes
.float-right {
    float:right;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
.float-left {
    float:left;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.clear {clear: both;}
.hide, .hidden {display: none !important;}
.text-right {
    text-align: right;
}
.text-center {
  text-align: center;
}
.margin-bottom {
  margin-bottom: $margin-default;
}

.bold { font-weight: bold; }

//animations
@keyframes akmodan-logo {
  50% {
    // transform: scale(0.9, 0.9);
    filter: hue-rotate(360deg);
  }
}

@keyframes gradient {
  50% {
    background-position: 200% 0;
    filter: hue-rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes nav-bounce {
  0%, 100% {
    transform: rotateY(-360deg);
  }
  50% {
    transform: translate3d(0, -20px, 0);
  }
}



.theme-color,
#theme-color {
  color: $color-base;
}

.bounce {
  animation: nav-bounce 1s ease;
}

.glue-out {
  animation-name: glue-out;
  transform-origin: 0% 50%;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-fill-mode: both;
}

.move-in {
  animation-name: move-in;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  z-index: 999;
}

.loading {
  user-select: none;

  > * {
    // filter: blur(3px);
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 101%;
    height: 100%;
    z-index: 2;
    background-color: rgba(#fff, 0.8);
  }

  &:after {
    content: '\f013';
    font-family: fontawesome;
    font-size: 64px;
    position: absolute;
    left: calc(50% - 24px);
    top: 100px;
    z-index: 3;
    animation: rotate 1s linear infinite;
  }
}
