/** breakpoints **/
$grid-breakpoints: (
  mobile: 320px,
  mobile-l: 480px,
  tablet: 768px,
  tablet-l: 1024px,
  desktop: 1025px,
  desktop-l: 1200px,
  desktop-xl: 1400px
);

/** sizes **/
$page-width: map-get($grid-breakpoints, tablet-l);
$page-width-min: map-get($grid-breakpoints, tablet);
$page-width-med: map-get($grid-breakpoints, desktop-l);
$page-width-max: map-get($grid-breakpoints, desktop-xl);

/** containers **/
$container-width-mobile: $page-width-min;
$container-width-tablet: $page-width-min;
$container-width-desktop: $page-width;
$container-width-desktop-l: $page-width-med;
$container-width-desktop-xl: $page-width-max;

//paddings
$padding-default: 10px;
$padding-half: 5px;
$padding-double: 2 * $padding-default;
$padding-tripple: 3 * $padding-default;

//margins
$margin-default: 10px;
$margin-double: 2 * $margin-default;
$margin-tripple: 3 * $margin-default;

//container padding
$padding-containers: $padding-double;
$padding-containers-mobile: $padding-double;
$padding-containers-tablet: $padding-double;

//animation duration
$animation-duration: .15s;

//border-radius
$border-radius: 3px;

//box shadow
$box-shadow-containers: 0 10px 10px -5px rgba(#000, 0.5);

$theme-opacity: 1;
$theme-drop-shadow: 0 .6rem .8rem -.5rem rgba(#000, 0.5);
$theme-inset-shadow: 0 0 .5rem rgba(#000, 0.5) inset;
