@charset "utf-8";

//presets
*, *:before, *:after { box-sizing: inherit; }
html { box-sizing: border-box; }

html, body, form, fieldset {
    margin: 0;
    padding: 0;
}

body {
    color: $color-text-body;
    font-size: 1.2rem;
    font-family: $font-family-body;
    background-color: $color-body;
    // font-weight: $font-weight-body;

    @include breakpoint-up(tablet) {
      font-size: 1.2rem;
      // font-weight: $font-weight-300;
    }

    //text rendering
    // text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: auto;
}

a {
    color: $color-link;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //mobile tap color removal

    &:hover {
        text-decoration: underline;
        // animation: akmodan2 8s linear infinite;
    }
}

p {
    margin: 0;
    padding: .5rem 0;
    text-align: justify;
    line-height: 1.5rem;
}

img {
    max-width: 100%;
}

hr {
    margin-top: $padding-containers;
    margin-bottom: $padding-containers;
}

ul, ol {
  margin: 0;
    padding-left: 0;

    li {
      list-style: none;
    }
}

h1 {font-size: $font-size-h1;}
h2 {font-size: $font-size-h2;}
h3 {font-size: $font-size-h3;}
h4 {font-size: $font-size-h4;}
h5 {font-size: $font-size-h5;}
h6 {font-size: $font-size-h6;}

@include headers {
    color: $color-text-headers;
    margin-top: 0;
    margin-bottom: .5rem;
    padding-top: .5rem;
    font-family: $font-family-headers;
    font-weight: $font-weight-headers;
    // text-transform: capitalize;
    // text-shadow: $font-headers-shadows;]
}

fieldset {
    border: 1px dashed $color-primary;
    padding: $padding-default;
    margin-bottom: $margin-double;
    color: $font-color-body;

    legend {
        color: $color-primary;
        padding: 0 10px 5px;
    }
}
