.footer {
    position: relative;
    height: 15rem;
    color: $color-light;
    padding: 0.5rem;
    background-color: rgba($color-base-dark, .7);
    // border-bottom: 2px solid rgba($color-base-dark, .7);
    overflow: hidden;
    background-image: url(../img/larm-s.jpg);
    background-position: center bottom;

    box-shadow: inset 0 15px 30px -15px #000;

    @include breakpoint-up(tablet){
        // height: 15rem;
    }

    @include headers {
        color: inherit;
    }

    a {
        color: inherit;
    }

    &__nav {
      &-title {
        margin-top: 0;
      }
        li {
            // display: inline-block;
        }
    }

    &__copy {}
    @include breakpoint-up(tablet) {
        // box-shadow: $box-shadow-containers;
    }

    &__bg {

    }
}
