$header-height-mobile: 10rem;
$header-height-tablet:  12rem;

.header {
  // @include bg-loader('luke.jpg');
  position: relative;
  background-size: 100%;
  padding: 0;
  height: $header-height-mobile;
  width: 100%;
  z-index: 0;
  user-select: none;
  overflow: hidden;
  background-image: url(../img/larm-s.jpg);
  background-position: center top;
  box-shadow: inset 0 -15px 30px -15px #000;

  @include breakpoint-up(tablet) {
      // box-shadow: $box-shadow-containers;
      height: $header-height-tablet;
      // margin-bottom: $margin-tripple;
      // margin-bottom: $margin-double;
  }

  &__bg {
    position: absolute;
    z-index: 0;
    vertical-align: middle;
  }

  .title {
    // font-size: $font-size-h5;
  }
  .subtitle {
    font-size: $font-size-mobile;
  }

  .logo {
    position: relative;
    max-width: auto;
    max-height: 3.5rem;
    user-select: none;
    border: 0;
    outline: none;
    z-index: 1;
    margin: 2rem 0;
    filter: drop-shadow(1px 1px 1px rgba($color-dark, .5));

    @include breakpoint-up(tablet) {
        // filter: drop-shadow(1px 1px 1px #000);
        max-height: 5rem;
    }

    &:hover {
        animation: akmodan-logo 20s linear infinite;
        // @include animation($name: logo-hover, $duration: 8s) {
        //   filter: hue-rotate(360deg) saturate(100%);
        //   // transform: scale(0.9, 0.9);
        // }
    }

    &__link {
      display: block;

      @include breakpoint-up(tablet) {
        // filter: none;
      }
    }

    g {
        fill: $color-base;
    }
  }

  &__background {
    // position: absolute;
    // z-index: -1;
    width: 100%;
  }
}
