//containers
.container {
  overflow: hidden;
}
.container,
.footer,
.header {
  background-color: $color-containers; //#1e3435
  max-width: $container-width-mobile;
  margin: 0 auto;

  @include breakpoint-up(tablet) {
    max-width: $container-width-tablet;
  }
  @include breakpoint-up(desktop) {
    max-width: $container-width-desktop;
  }
}
