.main {
  padding: .5rem;
  // background-image: url(../img/larm-s.jpg);
  background-position: center;
  background-size: cover;
  // overflow: hidden;

  @include breakpoint-up(tablet) {
    padding: 0 .5rem;
  }

  @include breakpoint-up(desktop) {
    padding: 0;
  }

  //for headers.
  .page-title {
    color: $color-base;
    text-align: center;
    // user-select: none;
    text-transform: uppercase;
    font-size: 1.8rem;

    //for correct ellipsis
    // width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include breakpoint-up(tablet) {
      // padding-top: .5rem;
      font-size: $font-size-h1;
    }

    &:hover {
      // transform: rotateY(88deg);
    }
  }
}
